body{
  background-color:rgb(36, 33, 35);
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  height: 100px;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  font-style: normal;
}
.contact {
background-color: rgba(13, 13, 15, 0.781);
  height: 100px;
  width: 1024px;
  padding-top: 50px;
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 10px;
}
.mail {
  background-color: rgba(13, 13, 15, 0.781);
  height: 100px;
  width: 1024px;
  padding-top: 50px;
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 10px;
}
main {
  height: 350px;
  font-size: 20px;
  color: antiquewhite;
}
